body {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

h1 {
  text-transform: uppercase;
}

.footer {
  text-align: center;
}

.footer p {
  font-size: 1.5em;
}

.header {
  width: 100%;
  margin-left: 0;
  margin-top: 0;
}

.topHeader {
  width: 100%;
  margin: 0;
  height: 15vh;
  background-color: #000;
  color: #fff;
  overflow: hidden;
}

.bottomHeader {
  height: 10vh;
}

.bottomHeader.stickyBottom {
  height: 25vh;
}

.topHeader.sticky {
  position: fixed;
  top: 0;
  overflow: auto;
}

.toggle {
  float: right;
  position: relative;
  display: flex;
  padding-right: 3em;
  padding-top: 4em;
}

.toggle a {
  position: relative;
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
  padding: 1em;
  border: 1px solid #000;
}

#home:hover {
  border: 1px solid #fff;
}

#ctg:hover {
  color: #c253c2;
  border: 1px solid #fff;
}

#gh:hover {
  color: #e0b15b;
  border: 1px solid #fff;
}

#sw:hover {
  color: #1db963;
  border: 1px solid #fff;
}

#tb:hover {
  color: rgb(2, 142, 248);
  border: 1px solid #fff;
}

.toggle .icon {
  display: none;
}

.filler {
  position: absolute;
  height: 25vh;
}

.F9Image {
  position: fixed;
  z-index: 99;
  margin-left: 10%;
  margin-top: -5%;
  border: 3px solid #fff;
}

.F9Image.stickyImg {
  position: fixed;
  z-index: 99;
  border: 3px solid #fff;
  margin-top: 4.3em;
}

.about {
  background-color: #fff;
  margin-top: 2em;
}

.about.stickyAbout {
  padding-top: 18em;
}

.aboutTitle {
  text-align: center;
}

.aboutTitle h1 {
  font-size: 3em;
}

.aboutText {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5em;
  padding-right: 5em;
  text-align: justify;
}

.aboutText p {
  font-size: 2em;
}

.aboutLogo {
  text-align: center;
  padding-bottom: 2em;
}

.aboutLogo img {
  width: 40%;
}

.insText {
    text-align: center;
}

.insText p {
    font-size: 2em;
    font-style: italic;
}

.companies {
  margin: 5em;
}

.coImg {
  display: grid;
  width: 75%;
  padding: 3em;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.ctg {
  grid-column: 1 / 2;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.ctg img {
  width: 100%;
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}

.gh {
  grid-column: 2 / 3;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.gh img {
  width: 100%;
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}

.sw {
  grid-column: 1 / 2;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.sw img {
  width: 100%;
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}

.tb {
  grid-column: 2 / 3;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.tb img {
  width: 100%;
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}

.homeGrid {
  display: grid;
  align-items: center;
  width: 90%;
  grid-template-columns: 1fr, 1fr;
  margin-left: auto;
  margin-right: auto;
  padding: 2em;
  column-gap: 2em;
}

.ctGrid {
  display: grid;
  align-items: top;
  width: 90%;
  grid-template-columns: 1fr, 1fr;
  margin-left: auto;
  margin-right: auto;
  padding: 2em;
  column-gap: 2em;
}

.homeLogos {
  display: grid;
  align-items: center;
  width: 90%;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr, 1fr, 1fr, 1fr;
  margin-left: auto;
  margin-right: auto;
  column-gap: 2em;
}

.ctgLifeStyle {
  grid-column: 2 / 3;
  margin: 2em;
}

.ctgLifeStyle img {
  max-width: 100%;
}

.ctGrid .aboutText {
  grid-column: 1 / 2;
  text-align: justify;
  width: 90%;
}

.ghGrid {
  display: grid;
  align-items: top;
  width: 90%;
  grid-template-columns: 1fr, 1fr;
  margin-left: auto;
  margin-right: auto;
  padding: 2em;
  column-gap: 2em;
}

.ghLifeStyle {
  grid-column: 2 / 3;
  margin: 2em;
  width: 100%;
}

.ghLifeStyle img {
  max-width: 100%;
}

.ghGrid .aboutText {
  grid-column: 1 / 2;
  text-align: justify;
  width: 90%;
}

.swGrid {
  display: grid;
  align-items: top;
  width: 90%;
  grid-template-columns: 1fr, 1fr;
  margin-left: auto;
  margin-right: auto;
  padding: 2em;
  column-gap: 2em;
}

.swGrid .aboutText {
  grid-column: 1 / 2;
  text-align: justify;
  padding: 2em;
  width: 90%;
}

.swLifeStyle {
  grid-column: 2 / 3;
  margin: 2em;
  padding-top: 2em;
}

.swLifeStyle img {
  max-width: 100%;
  max-height: 70vh;
}

.tbGrid {
  display: grid;
  align-items: top;
  width: 90%;
  grid-template-columns: 1fr, 1fr;
  margin-left: auto;
  margin-right: auto;
  padding: 2em;
  column-gap: 2em;
}

.tbGrid .aboutTetx {
  grid-column: 1 / 2;
  text-align: justify;
  padding: 2em;
  width: 90%;
}

.tbLifeStyle {
  grid-column: 2 / 3;
  margin: 2em;
}

.tbLifeStyle img {
  max-width: 100%;
  max-height: 70vh;
}

@media screen and (max-width: 640px) {
  body {
    width: 100%;
    text-align: center;
  }

  .topHeader {
    width: 100%;
    margin: 0;
    height: 15vh;
    background-color: #000;
    color: #fff;
    overflow: hidden;
  }

  .toggle a {
    display: none;
  }

  .toggle {
    float: left;
    z-index: 1;
    padding-top: 1em;
  }

  #smallMenu {
    display: block;
    color: #fff;
  }

  .topHeader.responsive .sticky {
    position: sticky;
    width: 100%;
  }

  .topHeader.responsive .toggle a {
    float: right;
    display: block;
    text-align: right;
    color: #fff;
  }

  .about.stickyAbout {
    padding-top: 28em;
  }

  #ctg,
  #sw,
  #gh,
  #tb {
    font-size: 0.5em;
    margin-top: 3em;
  }

  .F9Image {
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    top: 6em;
    left: 0;
    right: 0;
    z-index: 99;
    width: 100px;
  }

  .F9Image.stickyImg {
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
  }

  .about {
    width: 100%;
  }

  .aboutTitle h1 {
    font-size: 2em;
    padding: 0.75em;
  }

  .aboutText {
    width: 80%;
    font-size: 0.75em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2em;
    padding-right: 2em;
  }

  .aboutLogo img {
    width: 80%;
  }

  .insText {
    text-align: center;
}

.insText p {
    font-size: 1em;
    font-style: italic;
}

  .coImg {
    display: grid;
    padding: 3em;
    align-items: center;
    grid-template-columns: 1fr;
    text-align: center;
  }

  .companies {
    margin: 0;
  }

  .ctg {
    grid-column: 1 / -1;
  }

  .ctg img {
    width: 80%;
    padding-top: 1em;
    padding-bottom: 3em;
    padding-left: 1em;
    padding-right: 1em;
  }

  .gh {
    grid-column: 1 / -1;
  }

  .gh img {
    width: 80%;
    padding-top: 1em;
    padding-bottom: 3em;
    padding-left: 1em;
    padding-right: 1em;
  }

  .sw {
    grid-column: 1 / -1;
  }

  .sw img {
    width: 80%;
    padding-top: 1em;
    padding-bottom: 3em;
    padding-left: 1em;
    padding-right: 1em;
  }

  .tb {
    grid-column: 1 / -1;
  }

  .tb img {
    width: 80%;
    padding-top: 1em;
    padding-bottom: 3em;
    padding-left: 1em;
    padding-right: 1em;
  }
  .ctGrid {
    display: grid;
    align-items: center;
    width: 80%;
    grid-template-columns: 1fr;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
  }

  .ctgLifeStyle {
    grid-column: 1 / 2;
    margin: 1em;
  }

  .ctgLifeStyle img {
    max-width: 100%;
  }

  .ctGrid .aboutText {
    grid-column: 1 / 2;
    text-align: justify;
    padding: 1em;
  }

  .ctGrid .aboutText p {
    font-size: 2.5em;
  }

  .tbGrid {
    display: grid;
    align-items: top;
    width: 90%;
    grid-template-columns: 1fr;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    column-gap: 1em;
  }
  
  .tbGrid .aboutTetx {
    grid-column: 1 / 2;
    text-align: justify;
    padding: 1em;
    width: 90%;
  }
  
  .tbLifeStyle {
    grid-column: 1 / 2;
    margin: 1em;
  }
  
  .tbLifeStyle img {
    max-width: 100%;
    max-height: 70vh;
  }
}

@media screen and (min-width: 641px) and (max-width: 1200px) {
  body {
    width: 100%;
    text-align: center;
  }

  .topHeader {
    width: 100%;
    margin: 0;
    height: 8em;
    background-color: #000;
    color: #fff;
    overflow: hidden;
  }

  .toggle a {
    display: none;
  }

  .toggle {
    float: left;
    z-index: 1;
    padding-top: 1em;
  }

  #smallMenu {
    display: block;
    color: #fff;
  }

  .topHeader.responsive .sticky {
    position: sticky;
    width: 100%;
  }

  .topHeader.responsive .toggle a {
    float: right;
    display: block;
    text-align: right;
    color: #fff;
  }

  .about.stickyAbout {
    padding-top: 28em;
  }

  #ctg,
  #sw,
  #gh,
  #tb {
    font-size: 0.5em;
    margin-top: 3em;
  }

  .F9Image {
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    top: 7em;
    left: 0;
    right: 0;
    z-index: 99;
    width: 100px;
  }

  .F9Image.stickyImg {
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
  }

  .about {
    width: 100%;
  }

  .aboutTitle h1 {
    font-size: 2em;
    padding: 0.75em;
  }

  .aboutText {
    width: 80%;
    font-size: 0.75em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2em;
    padding-right: 2em;
  }

  .aboutLogo img {
    width: 80%;
  }

  .coImg {
    display: grid;
    padding: 3em;
    align-items: center;
    grid-template-columns: 1fr;
    text-align: center;
  }

  .companies {
    margin: 0;
  }

  .ctg {
    grid-column: 1 / -1;
  }

  .ctg img {
    width: 80%;
    padding-top: 1em;
    padding-bottom: 3em;
    padding-left: 1em;
    padding-right: 1em;
  }

  .gh {
    grid-column: 1 / -1;
  }

  .gh img {
    width: 80%;
    padding-top: 1em;
    padding-bottom: 3em;
    padding-left: 1em;
    padding-right: 1em;
  }

  .sw {
    grid-column: 1 / -1;
  }

  .sw img {
    width: 80%;
    padding-top: 1em;
    padding-bottom: 3em;
    padding-left: 1em;
    padding-right: 1em;
  }

  .tb {
    grid-column: 1 / -1;
  }

  .tb img {
    width: 80%;
    padding-top: 1em;
    padding-bottom: 3em;
    padding-left: 1em;
    padding-right: 1em;
  }
  .ctGrid {
    display: grid;
    align-items: center;
    width: 80%;
    grid-template-columns: 1fr;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
  }

  .ctgLifeStyle {
    grid-column: 1 / 2;
    margin: 1em;
  }

  .ctgLifeStyle img {
    max-width: 100%;
  }

  .ctGrid .aboutText {
    grid-column: 1 / 2;
    text-align: justify;
    padding: 1em;
  }

  .ctGrid .aboutText p {
    font-size: 2.5em;
  }

  .tbGrid {
    display: grid;
    align-items: top;
    width: 90%;
    grid-template-columns: 1fr;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    column-gap: 1em;
  }
  
  .tbGrid .aboutTetx {
    grid-column: 1 / 2;
    text-align: justify;
    padding: 1em;
    width: 90%;
  }
  
  .tbLifeStyle {
    grid-column: 1 / 2;
    margin: 1em;
  }
  
  .tbLifeStyle img {
    max-width: 100%;
    max-height: 70vh;
  }
}
